# specific files/directories

.appengine_go_sdk
.appengine_java_sdk
.appengine_python_sdk

assets.json
blobnode/*.yaml
blobnode/log
blobnode/blobnode
blobnode/run
blobnode/serve/bg.json
coffee/*.js
coffee/templates.coffee
dist
etc
html2domly/html2domly
java/war
matchdb/*.yaml
matchdb/log
matchdb/matchdb
matchdb/run
matchweb/*.yaml
matchweb/matchweb
matchweb/log
matchweb/run
pkg
private
src/build
src/espra/html.go

# hidden files/directories

.bzr
.bzrignore
.DS_Store
.hg
.hgignore
.lock-wscript
.sass-cache
.sconsign*
.svn

# file patterns

*#*
*~
*.5
*.6
*.8
*.a
*.dylib
*.egg
*.jar
*.la
*.lo
*.o
*.out
*.pyc
*.pyo
*.so
*.swp
*.tar.bz2
*.tar.gz
*.tbz
*.tbz2
*.tgz
*.rdb

_testmain.go

# file patterns (xcode)

*.mode1v3
*.mode2v3
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.swp
*.tm_build_errors

# file patterns (windows)

*.dll
*.exe
*.ilk
*.lib
*.ncb
*.pdb
*.suo
*.vcproj.*.*.user
